//
// <%= this.destination %>
//
// Generated at <%= new Date() %>
//

#import <Foundation/Foundation.h>
<% var props = _.filter(allProperties, this.filter);
   var type = this.type; %>

<% _.each(props, function(prop) {  %>
extern <%= type %> const <%= prop.name %>;<% }); %>

@interface <%= this.className %> : NSObject
+ (NSArray *)values;
@end
