@font-face {
  font-family: 'Icons';
  src: url('../styleDictionary/assets/fonts/MaterialIcons-Regular.eot');
  src: url('../styleDictionary/assets/fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
       url('../styleDictionary/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('../styleDictionary/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('../styleDictionary/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
