@import '../style-dictionary/build/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $size-text-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-family-code;
}
