<% _.each(allTokens, function(prop) {
    var output = "";
    if(prop.deprecated) {
    output += "// Notice: the following value is deprecated";
        if(prop.deprecated_comment) {
        output += " (" + prop.deprecated_comment + ")";
        }
    output += "\n";
    }
    output += "$" + prop.name + ": " + prop.value + ";";
    if(prop.comment) {
    output += " // " + prop.comment;
    }
    output += "\n";
    print(output);
}); %>
