---
import CallToAction from '@astrojs/starlight/components/CallToAction.astro'
import SDInstall from './SDInstall.astro';

const { data } = Astro.props.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
---

<section class="home-hero">
  <div class="home-hero-content">
  <!-- <h1 data-page-title set:html={title} /> -->
  <h1 data-page-title>
    Style once<br/>
    use everywhere
  </h1>
  {tagline && <div class="tagline" set:html={tagline} />}

  <div class="hero-actions">
    <!-- <sd-install></sd-install> -->
     <SDInstall />
    <CallToAction variant='primary' link='/getting-started/installation'>Get started</CallToAction>
  </div>
</div>
</section>


<style>
	h1 {
		font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
		line-height: var(--sl-line-height-headings);
		font-weight: 900;
		color: var(--sl-color-white);
	}

	.tagline {
		font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
		color: var(--sl-color-gray-2);
	}

  .hero-actions {
    display: grid;
    grid-template-columns: max-content;
    gap: 1rem;
  }

  .home-hero-content {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .home-hero {
    text-align: center;
    padding: 5rem;
    margin: -2rem;
    background-image:
/* radial-gradient(at 75% 36%, var(--sl-color-accent-low) 0px, transparent 50%), */
/* radial-gradient(at 63% 71%, var(--sl-color-purple) 0px, transparent 50%), */
url('/bg.svg');
background-repeat: no-repeat;
background-position: center center;
  }
</style>
