---
import CallToAction from '@astrojs/starlight/components/CallToAction.astro'
---

Style once, use everywhere
<h1>Hello world</h1>

<CallToAction variant='primary' link='/style'>Testing</CallToAction>

<sd-install></sd-install>

<style>
    h1 {
    color: red;
  }

  .text {
    color: blue;
  }
</style>
